

#show-button{
    background: #4f4f4f;
    color: white;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: bold;
}
#main-window {
    background-color: #1e1e1e;
}

#main-box {
    background-color: transparent;
}